@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    width: 100vw;
    background-color: hsl(233, 47%, 7%);
}

.main {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.card {
    display: flex;
    background-color: #63357E;
    width: 80%;
    border-radius: 0.5rem;
}

article {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 4rem 5rem;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: bold;
}

h2 span {
    color: hsl(277, 64%, 61%);
}

p {
    margin-top: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.stats {
    display: flex;
    justify-content: space-between;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.7rem;
}

.stats .data-nums {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.img {
    position: relative;
    width: 100%;
    mix-blend-mode: soft-light;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* attr */

.attribution {
    font-family: Lexend-Deca;
    margin-top: 50px;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}