@media (max-width: 700px) {
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        margin: 4rem 0.5rem;
    }
    .img {
        order: -2;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
    article {
        border-radius: 0rem 0rem 0.5rem 0.5rem;
        text-align: center;
        padding: 4rem 2rem 1rem 2rem;
    }
    h2 {
        color: hsl(0, 0%, 100%);
        font-size: 1.35rem;
        font-weight: 700;
    }
    h2 span {
        color: hsl(277, 64%, 61%);
    }
    p {
        margin-top: 1rem;
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 0.8rem;
        line-height: 1.3rem;
        font-weight: 400;
    }
    .stats {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 0.6rem;
    }
    .data {
        margin-top: 1.2rem;
    }
    .stats .data-nums {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
    }
    .attribution {
        margin: 2rem 3rem;
    }
}